/* :root {
  background-color: white;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timer {
  float: right;
  padding: 5px;
  margin-top: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: antiquewhite; */
}

#question-container {
  padding-top: 50px;
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-content: center;
  justify-items: center;
  width: 300px;
  /* justify-items: center; */
}

h1 {
  font-size: 40px;
  padding: 1em;
  color: black;
  justify-content: center;
}

.start-btn {
  position: relative;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 400px;
  cursor: pointer;
  background-color: rgb(129, 27, 129);
  color: white;
  margin: 10px;
}

.card-title {
  width: fit-content;
}
