/* :root {
  background-color: white;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timer {
  float: right;
  padding: 5px;
  margin-top: 15px;
  font-size: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: antiquewhite; */
}

#question-container {
  padding-top: 50px;
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  justify-content: center;
  justify-items: center;
  width: 600px;
  /* justify-items: center; */
}

h1 {
  font-size: 40px;
  padding: 1em;
  color: black;
  justify-content: left;
}

.start-btn {
  position: relative;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 400px;
  cursor: pointer;
  background-color: rgb(129, 27, 129);
  color: white;
  margin: 10px;
}

.card-title {
  width: fit-content;
}

.question-btn {
  background-color: #eee;
  border: none;
  padding: 1rem;
  margin: 10px;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.question-btn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.question-btn:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.question-btn:disabled {
  cursor: auto;
  color: grey;
}

h5 {
  font-size: 30px;
}

li {
  list-style: none;
}

.start-btn {
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 200px;
  align-items: center;
}

.start-btn:hover {
  border: 1px solid white;
}

.start-btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

ul,
li {
  padding: 0px;
  margin: 0px;
}

#initials {
  padding-left: 10px;
}

#submit-btn {
  float: right;
  margin: 0 0 0 10px;
}

.btn-primary {
  background-color: lightcoral;
  color: white;
  border: whitesmoke;
}
